<!-- How do you want to receive the stuff you will bring into this page? -->
<!-- In this case, we want to enumerate through it. -->

@model IEnumerable<string>

<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
   asp-route-category="">
    Home
</a>

@foreach (string category in Model)
{
    <a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-info" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
    <!-- asp-route-page="1" This is where the filtering issues are coming from -->
}